<h1>Movies App</h1>
<div>
  <input type="button" value="Home" onclick="location.href='/';" />
  <input
    type="button"
    value="Production Houses"
    onclick="location.href='/production-houses';"
  />
  <input type="button" value="Movies" onclick="location.href='/movies';" />
</div>
<hr />
